<h1><%= @restaurant.name %></h1>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Address</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= @restaurant.address %>
        </td>
        <td>
          <%= @restaurant.category %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <%= link_to "Back to Restaurants", restaurants_path, class: "btn btn-primary" %>
</div>
